<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-Powered PTSD Decision Support System</title>

</head>
<body>
    <header>
        <h1>AI-Powered PTSD Decision Support System</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contactus') }}">Contact us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="project-purpose">
            <h2>Project Purpose</h2>
            <p>The purpose of this project is to develop a sophisticated Decision Support System (DSS) powered by artificial intelligence (AI) to assist psychologists and healthcare professionals in accurately diagnosing Post-Traumatic Stress Disorder (PTSD). By leveraging advanced AI techniques and analyzing audio and visual data, the system aims to provide a more objective and refined approach to PTSD diagnosis compared to traditional subjective methods. The project seeks to improve diagnostic accuracy, reduce the likelihood of misdiagnosis or underdiagnoses, and ultimately enhance the overall efficiency of PTSD diagnosis in clinical settings. Additionally, it aims to create a user-friendly interface for healthcare professionals while prioritizing patient data security and integration with existing healthcare systems.</p>
        </section>
        <section id="scope">
            <h2>Scope</h2>
            <ul>
                <li>Automated video analysis</li>
                <li>Automated audio analysis</li>
                <li>Real-time analysis</li>
                <li>Web Interface</li>
                <li>PTSD prediction</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 [PTSD Detection/GIFT University]</p>
    </footer>
</body>
</html>
